{% extends 'base.html' %}

{% block body %}
    {% load staticfiles %}


    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Dashboard
                <small>Gerencie o seu tempo</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-2">
                    <a class="btn btn-default" href="/">Logout</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="box" style="margin-top: 20px;">
                        <div class="box-header">
                            <h3 class="box-title">Lista de atividades da semana</h3>
                            <div class="box-tools">
                                <a class="btn btn-danger" href= {% url 'adicionar-atividade' %}>Adicionar
                                    Atividade</a>
                                {#                                <div class="input-group input-group-sm" style="width: 150px;">#}
                                {#                                    <button type="button" class="btn btn-primary btn-sm"#}
                                {#                                            data-toggle="modal" data-target="#myModal">#}
                                {#                                        Adicionar atividade#}
                                {#                                    </button>#}
                                {#                                </div>#}
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-condensed">
                                <tr>
                                    <th class="text-center">Data</th>
                                    <th class="text-center">Nome</th>
                                    <th class="text-center" style="width: 200px">Tempo investido (Horas)</th>
                                    <th class="text-center">Categoria</th>
                                </tr>
                                {% for atividade in lista_atividades %}
                                    <tr>
                                        <td align="center">{{ atividade.data|date:'d/m/Y' }}</td>
                                        <td align="center">{{ atividade.nome }}</td>
                                        <td align="center">{{ atividade.tempo_investido }}</td>
                                        <td align="center">{{ atividade.categoria }}</td>
                                    </tr>
                                {% empty %}
                                    <li>Sem itens na lista</li>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <div class="col-sm-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <h3 class="box-title text-danger">Sparkline Pie</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-default btn-sm"><i
                                        class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body text-center">
                            <div class="sparkline" data-type="pie" data-offset="90"
                                 data-width="100px" data-height="100px">
                                20,30,50
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <ul>
            </ul>

        </section>
    </div>
    <!-- Content Header (Page header) -->
    <!-- /.content -->
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Adicionar nova atividade</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box box-primary">
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form action=atividade/add method="POST">
                                    {% csrf_token %}
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="id_nome">Nome</label>
                                            <input class="form-control" id="id_nome" maxlength="50"
                                                   name="nome" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_tempo_investido">Tempo investido</label>
                                            <input class="form-control" id="id_tempo_investido"
                                                   name="tempo_investido" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_data">Data</label>
                                            <input class="form-control" id="id_data" max-length="50"
                                                   name="data"
                                                   placeholder="A data deve estar no formato: 2016-02-27"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
